@model BlankSpace.ViewModels.BusVm

@{
    ViewData["Title"] = "Add New Bus";
}

<h2 style="text-align:center">New Bus</h2>


<hr />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form asp-controller="Bus" asp-action="NewBus" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label  asp-for="CoachName" class="h4 control-label"></label>
                <input asp-for="CoachName" class="form-control" />
                <span asp-validation-for="CoachName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalSeat" class="control-label h4"></label>
                <input asp-for="TotalSeat" class="form-control" />
                <span asp-validation-for="TotalSeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusNumber" class="control-label h4"></label>
                <input asp-for="BusNumber" class="form-control" />
                <span asp-validation-for="BusNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
        <div>
            <a asp-action="BusList" asp-controller="Bus">Back to List</a>
        </div>
    </div>
</div>



