@model BlankSpace.ViewModels.PlaceVm

@{
    ViewData["Title"] = "UpdateRoute";
}

<h2>Update List of stopage</h2>


<hr />
<div class="row">
    <div class="col-md-4 col-md-4">
        <form asp-action="UpdateRoute">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
           
            <div class="form-group">
                <label asp-for="PlaceName" class="control-label"></label>
                <input asp-for="PlaceName" class="form-control" />
                <input asp-for="PlaceVmId" type="hidden" />
                <span asp-validation-for="PlaceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

