
@{
    ViewData["Title"] = "UpdateRole";
}

<h2>UpdateRole</h2>
@model BlankSpace.ViewModels.RoleTypeVm

@{
    ViewData["Title"] = "Add Role";
}





<div class="row ">
    <div class="col-md-4 col-md-offset-4">
        <h2>Add Role</h2>
        <hr />
        <form asp-action="UpdateRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="RoleTypeId" type="hidden" />
            <div class="form-group">
                <label asp-for="RoleName" class="control-label h4"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-success" />
            </div>
        </form>
        <div>
            <a asp-action="RoleList">Back to List</a>
        </div>
    </div>
</div>




